<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


<h1>The Pirates are back!</h1>
<form class="" action="/pirates" method="post">
  <label>Name:</label>
  <input type="text" name="pirate[name]" value=""><br>
  <label>Weight:</label>
  <input type="text" name="pirate[weight]" value=""><br>
  <label>Height:</label>
  <input type="text" name="pirate[height]" value=""><br>
  <label>Name:</label>
  <input type="text" name="ship_name_1" value=""><br>
  <label>Type:</label>
  <input type="text" name="ship_type_1" value=""><br>
  <label>Booty:</label>
  <input type="text" name="ship_booty_1" value=""><br>
  <label>Name:</label>
  <input type="text" name="ship_name_2" value=""><br>
  <label>Type:</label>
  <input type="text" name="ship_type_2" value=""><br>
  <label>Booty:</label>
  <input type="text" name="ship_booty_2" value=""><br>
  <!-- <input type="text" name="pirate[ships][][name]" value=""><br>
  <label>Type:</label>
  <input type="text" name="pirate[ships][][type]" value=""><br>
  <label>Booty:</label>
  <input type="text" name="pirate[ships][][booty]" value=""><br>
  <label>Name:</label>
  <input type="text" name="pirate[ships][][name]" value=""><br>
  <label>Type:</label>
  <input type="text" name="pirate[ships][][type]" value=""><br>
  <label>Booty:</label>
  <input type="text" name="pirate[ships][][booty]" value=""><br> -->
  <input type="submit" name="" value="Submit">
</form>

</body>
</html>
